$corDeFundo: #040714;
$corTextoPrincipal: #c0c0c0;
$corTextoSecundario: #f9f9f9;
$corFundoFaq: #13151d;
$corTextoFaq:#f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
$corBorderPlans:hsla(0, 0%, 100%, 0.1);
$corBackgroundPlans:#1d1f2b;
